# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = quant_scraper.settings

[deploy]
#url = http://localhost:6800/
project = quant_scraper

# Define deployment configurations for different environments
[deploy:production]
url = http://production-server:6800/
project = quant_scraper_prod
username = user_prod
password = secret_prod

[deploy:staging]
url = http://staging-server:6800/
project = quant_scraper_staging
username = user_staging
password = secret_staging
